.tag {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 12em;
    height: 12em;
    border-radius: 0.5em;
    margin: 0.4em;
    background-color: #fff;
}

.tag-left {
    display: flex;
    flex-flow: column;
}
.tag-right {
    margin-top: 2em;
    margin-right: 1em;
    color: #dedee6;
}

.slide-title {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    box-shadow: none;
    position: absolute;
    bottom: 2em;
    left: 0.5em;
}

img {
    width: 12em;
    height: 12em;
    border-radius: 0.5em;
}

@media screen and (max-width: 600px) {
    .tag {
        width: 20em;
        height: 20em;
        padding: 0.2em;
        margin: 0.5em;
    }
    img {
        width: 20em;
        height: 20em;
    }
}