.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #faf8f8;
  background-color: #dee3e6;
  height: 100%;
  /* width: 100vw; */
}

@media screen and (max-width: 600px) {
  .App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  /* margin: 0 1.5em; */
  padding: -1em;
}
.search {
  max-width: none;
}
}