.dashboard {
    text-align: center;
    background-color: #faf8f8;
    background-color: #dee3e6;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 5em;
    width: 90%;
  }
  .top-content {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .logo {
    display: flex;
    border-radius: 0.3em;
    box-shadow: dodgerblue;
    background-color: gray;
    padding: 0 1em 0 1em;
  }
  .logo span {
    padding: 1em 0 1em 0;
  }
  h2 {
    color: #00A2D6;
    /* background-color: #faf8f8; */
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: -0.2em;
    margin-top: 0.1em;
  }
  .app-left {
    font-size: 1.15em;
    margin-right: -2em;
    display: flex;
    flex-flow: row wrap; 
    /* justify-content: space-evenly; */
    align-items: flex-start;
  }
  .empty-search {
    color: rgb(5, 5, 5);
    font-weight: bold;
  }